.vp-tag-jbyh {
  --vp-tag-color: #6aa1b7;
  --vp-tag-hover-color: #5086a1;
  --vp-tag-bg: rgba(131, 208, 218, 0.314);
}
.vp-tag-b9ad {
  --vp-tag-color: #299764;
  --vp-tag-hover-color: #18794e;
  --vp-tag-bg: rgba(16, 185, 129, 0.14);
}
.vp-tag-s73e {
  --vp-tag-color: #946300;
  --vp-tag-hover-color: #915930;
  --vp-tag-bg: rgba(234, 179, 8, 0.14);
}
.vp-tag-u1cq {
  --vp-tag-color: #d5393e;
  --vp-tag-hover-color: #b8272c;
  --vp-tag-bg: rgba(244, 63, 94, 0.14);
}
.vp-tag-8287 {
  --vp-tag-color: #7e4cc9;
  --vp-tag-hover-color: #6f42c1;
  --vp-tag-bg: rgba(159, 122, 234, 0.14);
}
.vp-tag-r1av {
  --vp-tag-color: #3a5ccc;
  --vp-tag-hover-color: #3451b2;
  --vp-tag-bg: rgba(100, 108, 255, 0.14);
}
.vp-tag-dw91 {
  --vp-tag-color: #fab10f;
  --vp-tag-hover-color: #f39c12;
  --vp-tag-bg: rgba(255, 213, 0, 0.14);
}
.vp-tag-9jfr {
  --vp-tag-color: #cc6699;
  --vp-tag-hover-color: #be3f7f;
  --vp-tag-bg: rgba(161, 54, 107, 0.14);
}
.vp-tag-ampo {
  --vp-tag-color: #55aaee;
  --vp-tag-hover-color: #2391e9;
  --vp-tag-bg: rgba(21, 123, 206, 0.1333);
}
.vp-tag-lo3e {
  --vp-tag-color: #9933cc;
  --vp-tag-hover-color: #aa56d5;
  --vp-tag-bg: rgba(179, 102, 217, 0.2);
}
.vp-tag-x6l9 {
  --vp-tag-color: #cc3366;
  --vp-tag-hover-color: #d55680;
  --vp-tag-bg: rgba(217, 102, 140, 0.2);
}
.vp-tag-x6x2 {
  --vp-tag-color: #cc9933;
  --vp-tag-hover-color: #be7f3f;
  --vp-tag-bg: rgba(161, 107, 54, 0.2);
}
.vp-tag-o5k8 {
  --vp-tag-color: #9966cc;
  --vp-tag-hover-color: #7171b8;
  --vp-tag-bg: rgba(83, 83, 167, 0.14);
}
.vp-tag-kq3g {
  --vp-tag-color: #66cccc;
  --vp-tag-hover-color: #3fbebe;
  --vp-tag-bg: rgba(54, 161, 161, 0.14);
}
.vp-tag-9s3r {
  --vp-tag-color: #3366cc;
  --vp-tag-hover-color: #5680d5;
  --vp-tag-bg: rgba(102, 140, 217, 0.14);
}
.vp-tag-rr79 {
  --vp-tag-color: #339999;
  --vp-tag-hover-color: #41c0c0;
  --vp-tag-bg: rgba(83, 198, 198, 0.2);
}
.vp-tag-pwpf {
  --vp-tag-color: #a6623b;
  --vp-tag-hover-color: #c17950;
  --vp-tag-bg: rgba(199, 134, 97, 0.2411);
}
.vp-tag-jpgy {
  --vp-tag-color: #8ecaef;
  --vp-tag-hover-color: #55afe7;
  --vp-tag-bg: rgba(42, 155, 225, 0.147);
}
